input {
    padding: 4px;
    width: 300px;
}

.delete:after  {
    position: absolute;
    width: 10px;
    height: 10px;
    content: '\2716';
    left: 310px;
    top: 16px;
    cursor: pointer;
}

.input {
    position: relative;
}